<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Cửu kiếm chi vương</title>
	<!-- Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Cửu Kiếm Chi Vương - Game Nhập Ma Đầu Tiên Tại Việt Nam">
	<meta name="author" content="Cửu Kiếm Chi Vương">
	<meta name="copyright" content="Daihaitech">
	<!-- Favicon -->
	<link rel="shortcut icon" href="https://cuukiemchivuong.com.vn/assets/img/favi.jpg"/>
  	<link rel="bookmark" href="https://cuukiemchivuong.com.vn/assets/img/favi.jpg"/>

	<!-- CSS: Libs-->
	<link rel="stylesheet" href="assets/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="assets/libs/ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="assets/libs/select2/css/select2.min.css">
	<link rel="stylesheet" href="assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
	<link rel="stylesheet" href="assets/libs/fancybox/jquery.fancybox.min.css">
	<link rel="stylesheet" href="assets/libs/slick/slick.css">
	<!-- <link rel="stylesheet" href="assets/libs/slick/slick-theme.css"> -->
	<!-- CSS: Main -->
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/theme.css">

	<!--[if lt IE 9]>
  	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
	<div id="siteContainer">
		<!-- site header -->

		<%- include('layout/header.ejs'); -%>

		<!-- END site header -->

		<!-- site name h1: for SEO, Home Page Only -->
		<!-- <h1 class="hidden">Site Name Goes here</h1> -->
		<!-- END -->

		<!-- site content -->
		<div id="siteContent" class="site-content">

		<div class="zone1 section">
			<div class="section__background">
				<video autoplay muted loop id="myVideo">
					<source src="video/bg-video-ckcv.mp4" type="video/mp4">
				  </video>
			</div>
				<div class="ct-tophead">
					<div class="container has-mw-on-xs-screen">
					<div class="col-md-4 col-xs-12">
						<div class="ht-home-single-section ht-home-carousel-section mb-12 ">
							<div class="section-content">
								<div class="ht-item-slick ht-home-carousel-card-slick1 has-slick-arrow-type-01">
									<div class="single-col">
										<a href="https://cuukiemchivuong.com.vn/ctnews/20" class="ht-carousel-item-card block">
											<div class="ht-rectangle ratio-31 bg-color-grey-200">
												<div class="ht-inner">
													<img src="assets/img/banner-to.jpg" alt="" class="w-100pct h-100pct ojf-cover">
												</div>
											</div>
										</a>
									</div>
									<div class="single-col">
										<a href="https://cuukiemchivuong.com.vn/ctnews/20" class="ht-carousel-item-card block">
											<div class="ht-rectangle ratio-31 bg-color-grey-200">
												<div class="ht-inner">
													<img src="assets/img/banner-to.jpg" alt="" class="w-100pct h-100pct ojf-cover">
												</div>
											</div>
										</a>
									</div>
									<div class="single-col">
										<a href="https://cuukiemchivuong.com.vn/ctnews/20" class="ht-carousel-item-card block">
											<div class="ht-rectangle ratio-31 bg-color-grey-200">
												<div class="ht-inner">
													<img src="assets/img/banner-to.jpg" alt="" class="w-100pct h-100pct ojf-cover">
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="panel with-nav-tabs panel-default">
							<div class="panel-heading">
									<ul class="nav nav-tabs">
										<li class="active"><a href="#tab1default" data-toggle="tab">Tin tức</a></li>
										<li><a href="#tab2default" data-toggle="tab">Sự kiện</a></li>
									</ul>
							</div>
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane fade in active" id="tab1default">
										<ul>
											<% data.dataNews.rows.forEach(function(item){ %>
												<li><a href="/ctnews/<%= item.id %>"><%= item.tieude %></a></li>
											<%})%>
										</ul>
									</div>
									<div class="tab-pane fade" id="tab2default">
										<ul>
											<% data.dataEvent.rows.forEach(function(item){ %>
												<li><a href="/contentevent/<%= item.id %>"><%= item.tieude %></a></li>
											<%})%>

										</ul>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-xs-12 flex-mb">
						<a href="/camnang"><img class="top-img" src="assets/img/Group 38.png"></a>
						<a href="/huongdannap"><img  class="top-img" src="assets/img/Group 39.png"></a>

					</div>
				</div>
			</div>
			</div>
			<div class="section ht-home-logo-brands-section py-12">
				<div class="section__background">
					<img alt="" class="desktop lazyloaded" src="assets/img/aha.png">

				</div>
				<div class="container">
				<div class="section-content pd-44">
					<div class="col-md-3 col-xs-6">
						<h3>Tân Thủ</h3>
						<ul>
							<li><a href="/huongdannap">Hướng Dẫn Nạp Tiền</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/camnang">Hướng Dẫn Tân Thủ</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/12">Đáp Án Vui Vấn Đáp</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/13">Đáp Án Vấn Đáp Bang</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/15">Giới Thiệu Phái Đồ Tể</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/16">Giới Thiệu Phái Thư Sinh</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/17">Giới Thiệu Phái Thương Linh</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-6">
						<h3>Hoạt Động</h3>
						<ul>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/45">Bang Chiến</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/44">Giang Hồ Chiến</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/42">Kinh Hoa Đoạt Bảo</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/41">Tầm Bảo</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/40">Tiệc Bang</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/52">Tháp Phật Giới</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/53">Thủ Hộ Bang</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-6">
						<h3>Phó Bản</h3>
						<ul>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/20">Quyết Chiến Giang Hồ</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/21">Ảo Cảnh Âm Dương</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/22">Chiến Trường Thần Ma</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/24">Hoa Sơn Luận Kiếm</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/26">Khiêu Chiến Cá Nhân</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/28">Phụ Bản Linh Tháp</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/29">Phụ Bản Tinh Túc</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-xs-6">
						<h3>Tính Năng</h3>
						<ul>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/50">Tính năng Kỳ Ngộ</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/51">Tính năng Nhập Ma</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/48">Tính năng Thần Binh</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/49">Tính năng Hồng Nhan</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/43">Tính Năng Linh Vũ</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/46">Tính Năng Thú Cưỡi</a></li>
							<li><a href="https://cuukiemchivuong.com.vn/contentbang/47">Tính Năng VIP</a></li>
						</ul>
					</div>
				</div>
				</div>
			</div>
			<div class="home-single-section ht-homebp-section">
				<div class="section-content">
					<div class="ht-item-slick ht-home-carousel-card-slick has-slick-arrow-type-01">
						<div class="single-col">
							<a href="#" class="ht-carousel-item-card block">
								<div class="ht-rectangle ratio-31 bg-color-grey-200">
									<div class="ht-inner">
										<div class="monphai-container">
											<div class="monphai-video desktop desktop">
												<img class="video-bg lazyloaded" src="assets/img/dote.png">
												<div class="frame-video">

													<video  class="desktop lazyloading" autoplay="true" muted="" loop="" playsinline="" controls autoplay>
														<source src="video/video1.mp4" type="video/mp4">
													  </video>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="single-col">
							<a href="#" class="ht-carousel-item-card block">
								<div class="ht-rectangle ratio-31 bg-color-grey-200">
									<div class="ht-inner">
										<div class="monphai-container">
											<div class="monphai-video desktop desktop">
												<img class="video-bg lazyloaded" src="assets/img/thusinh.png">
												<div class="frame-video">

													<video  class="desktop lazyloading" autoplay="true" muted="" loop="" playsinline="" controls autoplay>
														<source src="video/video2.mp4" type="video/mp4">
													  </video>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="single-col">
							<a href="#" class="ht-carousel-item-card block">
								<div class="ht-rectangle ratio-31 bg-color-grey-200">
									<div class="ht-inner">
										<div class="monphai-container">
											<div class="monphai-video desktop desktop">
												<img class="video-bg lazyloaded" src="assets/img/thuonglinh.png">
												<div class="frame-video">

													<video  class="desktop lazyloading" autoplay="true" muted="" loop="" playsinline="" controls autoplay>
														<source src="video/video3.mp4" type="video/mp4">
													  </video>
												</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>

			</div>
			<div class="section home-single-section ht-video-section ">
				<div class="section__background">
					<img alt="" class="desktop lazyloaded" src="assets/img/Group33.png">
				</div>
				<div class="section-content py-12 my-16">
					<div class="container">
						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/TWHPLzIwahQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/0YIPpr3Ofw4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/vviP5aAr-0U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/MLU-7Zd9_0k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/Ip_5OtxN0j4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
						<div class="col-md-4 col-xs-6 pd-10"><iframe width="100%" height="215" src="https://www.youtube.com/embed/xCvdtS0h46U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

					</div>
				</div>

			</div>
		</div>
		<!-- END site content -->

		<!-- Site Footer -->
    <footer class="site-footer">
      <div class="pa-20">
        <div class="container">
        	<div class="site-footer_company-info flex-item">
        		<div class="company-info-wraper">
	            <h4 class="ci_title">CÔNG TY CỔ PHẦN PHÁT TRIỂN KINH DOANH CÔNG NGHỆ ĐẠI HẢI</h4>
	            <div class="ci_subtitle">Địa chỉ: Số 2 ngõ 136 phố Nguyễn An Ninh, Phường Tương Mai, Quận Hoàng Mai, Thành phố Hà Nội, Việt Nam</div>
	            <div class="ci_subtitle">Tổng đài: <b class="color-green-700">0784 022 333</b> (cả T7, CN) - Email: daihai.jsc.co@gmail.com</div>

	          </div>
	          <div class="company-register-badge flex-item">
	            <!-- <img src="stock/icons/dathongbao-bocongthuong.png" alt=""> -->
	          </div>
        	</div>
        </div>
      </div>
    </footer>
    <!-- END Site Footer -->
	</div>
	<!-- <a href="tel:1900633313" class="suntory-alo-phone center-left suntory-alo-green " id="suntory-alo-phoneIcon">
		<div class="suntory-alo-ph-img-circle"><i class="fa fa-phone"></i></div>
	</a>
	<a href="http://cuukiemchivuong.vn/">
		<img src="https://cuukiemchivuong.com.vn/assets/img/GooglePlay.png">
	</a>
	<a href="http://cuukiemchivuong.vn/"><img src="https://cuukiemchivuong.com.vn/assets/img/GooglePlay.png"></a> -->

	<%- include('layout/footer.ejs'); -%>

	<!-- JS: Libs -->
	<script src="assets/libs/jquery.min.js"></script>
	<script src="assets/libs/bootstrap/js/bootstrap.js"></script>
	<script src="assets/libs/select2/js/select2.full.min.js"></script>
	<script src="assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
	<script src="assets/libs/fancybox/jquery.fancybox.min.js"></script>
	<script src="assets/libs/slick/slick.min.js"></script>
	<!-- JS: Main -->
	<script src="assets/js/main.js"></script>

	<!-- custom JS -->
	<script>
		var vid = document.getElementById("myVideo");
		vid.autoplay = true;
		vid.load();
	</script>
</body>
</html>
